html {
    background-color: blanchedalmond;
    line-height: double;
}
.center-text-align {
    text-align: center;
}

img {
    height: auto;
    width: 300px
}

hr {
    color: black
}

.border-box {
    border: 2px solid #000; /* Adjust the color and thickness as desired */
    padding: 10px; background-color: darkkhaki;
    margin-bottom: 20px;
  }